<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_load_after">
        <observer name="magenest3_add_cart_hotel" instance="Magenest3\XuanHai\Observer\Addtocart"/>
    </event>
</config>
